<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Bike Ride Events</h2>
  <p>
    The Bike Ride Events APP is a delightful project created to explore Ember.
    By building a propertyBike Ride Events, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
</div>