<h2>Bikers</h2>
<ul class="bikers-listing">
  {{#each biker}}
    <li>{{biker.fullname}}</li>
    <li>{{biker.email}}</li>
    <li>{{biker.city}}</li>
  {{else}}
    <li>no biker found... :-(</li>
  {{/each}}
</ul>